<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <title><%= htmlWebpackPlugin.options.title %></title>
    <script>console.time('react-app')</script>
  </head>

  <body>
    <div id="comment-box"></div>
  </body>

</html>
